<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test 1">
    <classes>
      <class name="basicAnnotations.TestClass1"/>
      <class name="basicAnnotations.TestClass3"/>
      <class name="basicAnnotations.TestClass2">
       <methods>
       <exclude name="testcase2"></exclude>
       </methods>
      </class>
      <class name="basicAnnotations.Demo1"/>
       
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test 2">
    <classes>
      <class name="basicAnnotations.TestClass1"/>
      <class name="basicAnnotations.TestClass3"/>
      <class name="basicAnnotations.TestClass2"/>
      <class name="basicAnnotations.Demo2"/>
      <class name="basicAnnotations.Suite1"/>
      
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
